
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: bisque;
}
div{
    flex: 0 1 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}
#parfum1{
  
}
#parfum2{
  
}

#parfum3{
    flex: 1 0 100px;
    width: 50px;
    height: 100px;
    margin-top: 30%;

}

#parfum4{


}
h3{
   
    color: green;
    font-size: x-large;
}


img{
    flex: 0 0 100%;
    width: 50%;
}
a{
    flex: 0 1 50px;
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
   
    background-color: green;
    border-radius: 10px ;

}
p{
    flex: 1 1 -100%;
    width: 50%;
}






























